.task-canvas {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.task-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pending-tasks-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  outline: 2px solid black;
}

.completed-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  outline: 2px solid red;
}