.project-menu {
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    border-radius: 5%;
    height: 90%;
    width: 20%;
}

.project-menu-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 5%
}

.project-menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    justify-content: space-around;
    padding: 2%;
}